<div class="form-wrapper">
  <div class="form-header">
    <h2 class="form-title">Log in</h2>
  </div>
  <form class="form" #form="ngForm">
    <div class="input-container">
      <label for="username">Username</label>
      <input type="text" id="username" />
    </div>
    <div class="input-container">
      <label for="password">Password</label>
      <input [type]="passwordChecked.value ? 'text' : 'password'" id="password" />
      <div class=checkbox-container>
        <input type="checkbox" id="password-checkbox" name="checkbox" class="brand-checkbox" [(ngModel)]="checkboxVal" #passwordChecked="ngModel">
        <label for="password-checkbox">Show password</label>
      </div>
    </div>
    <button type="submit" class="brand-button">Log in</button>
  </form>
</div>