:host {
  display: grid;
  container-type: inline-size;

  main {
    min-width: 100%;
    width: 100%;

    &.main-padding {
      // background-color: rgb(var(--charcoal-rgb-nums) / 10%);
      padding: 40px;
    }
  }
}
