<div class="form-wrapper">

  <div class="form-header">
    <h2 class="form-title">Sign up</h2>
  </div>
  <form class="form">
    <div class="input-container">
      <label for="first_name">First name</label>
      <input type="text" id="first_name" />
    </div>
    <div class="input-container">
      <label for="last_name">Last name</label>
      <input type="text" id="last_name" />
    </div>
    <div class="input-container">
      <label for="email">Email address</label>
      <input type="text" id="email" />
    </div>
    <div class="input-container">
      <div class="checkbox-container">
        <input type="checkbox" id="newsletter-checkbox" name="checkbox" class="brand-checkbox">
        <label for="newsletter-checkbox">Subscribe to newsletter</label>
      </div>
    </div>
    <button type="submit" class="brand-button">Log in</button>

  </form>
</div>