<main class="content" id="content">
  <app-hero></app-hero>
  <app-under-the-fold></app-under-the-fold>
  <div class="flex-container">
    <app-ui-card title="Memberships">
      <p>Discover membership options to fit your needs. Don't forget, Saturday's are always free community workouts!</p>
      <a class="brand-button" routerLink="/memberships">View memberships</a>
    </app-ui-card>
    <app-ui-card title="Classes">
      <p>Explore our class dates and times.</p>
      <a class="brand-button" routerLink="/classes">View classes</a>
    </app-ui-card>
    <app-ui-card title="Trainers">
      <p>Learn more about our top-notch trainers.</p>
      <a class="brand-button" routerLink="/memberships">View trainers</a>
    </app-ui-card>
  </div>
</main>