:host {
  .card-wrapper {
    display: flex;
    gap: 24px;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 40px;

    .brand-button {
      inline-size: fit-content;
      margin-inline: auto;
    }
  }
}
