<header class="nav-container">
  <div class="col">
    <div class="nav-brand-container">
      <button class="nav-hamburger-menu" (click)="toggleMenu()" [attr.aria-label]="appService.mobileScreen() ? 'close menu' : 'open menu'">
        <img src="assets/icons/menu.svg" />
      </button>
      <a href="." class="nav-brand">
        <app-logo class="nav-logo"></app-logo>
        <div>{{ gym_name }}</div>
      </a>
    </div>
    @if (appService.mobileScreen()) {
      <div class="nav-hamburger-dropdown">
        <ul class="nav-tabs-vertical">
          @for(item of links; track item.id) {
            <li class="nav-tab-item">
              <a class="nav-tab-action" [routerLink]="item.path" routerLinkActive ariaCurrentWhenActive="page">{{ item.label }}</a>
            </li>
          }
        </ul>
        <button class="nav-hamburger-menu" (click)="appService.updateScreenSize(false)" aria-label="close menu">
          <img src="assets/icons/close.svg" />
        </button>
      </div>
    }
  </div>
  <ul class="nav-tabs">
    @for(item of links; track item.id) {
      <li class="nav-tab-item">
        <a class="nav-tab-action" [routerLink]="item.path" routerLinkActive ariaCurrentWhenActive="page">{{ item.label }}</a>
      </li>
    }
  </ul>
</header>