.nav-container {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-brand {
  align-items: center;
  color: black;
  display: flex;
  font-size: calc(var(--base-font-size) * 2);
  font-weight: 700;
  gap: 16px;
  text-decoration: none;

  &-container {
    display: flex;
    gap: 16px;
    align-items: center;
  }

 /* If the container is larger than 700px */
  @container (min-width: 700px) {
    .nav-logo, .nav-tabs {
      display: flex;
    }
  }
}

.nav-hamburger-menu {
  border-radius: 50%;
  background-color: transparent;
  padding: 4px;

  svg {
    fill: var(--brand-font-color);
    block-size: 48px;
    inline-size: 48px;
  }
}

.nav-hamburger-dropdown {
  display: flex;

  .nav-tabs-vertical {
    flex-grow: 1;
  }

  .nav-hamburger-menu {
    margin-block-end: auto;
  }
}

.nav-logo {
  display: none;
}

.nav-tabs {
  display: none;
  gap: 24px;
  margin: 0;
  list-style-type: none;
  padding: 0 20px;
}

.nav-tab-item {
  display: flex;
  list-style: none;
  
  &:has(.nav-tab-action:hover) {
    background-color: rgb(var(--base-accent-color-nums) / 80%);
    border-radius: 6px;
  }

  &:has(.nav-tab-action:active) {
    background-color: var(--base-accent-color);
    border-radius: 6px;

    .nav-tab-action {
      color: black;
    }
  }

  &:has(.nav-tab-action[aria-current]) {
    border-block-end: 2px solid var(--base-accent-color);

    .nav-tab-action {
      color: black;
      padding-bottom: 6px;
    }
  }
}

.nav-tab-action {
  align-self: center;
  font-weight: 500;
  text-decoration: none;
  padding: 8px;
}