:host {
  align-self: center;
  display: flex;

  .schedule-table {
    background-color: white;
    border-collapse: collapse;
    border-inline-start: 1px solid var(--charcoal-hex);
    color: var(--charcoal-hex);
    display: block;
    font-size: calc(var(--base-font-size) * 1.5);
    margin: auto;
    overflow-x: auto;

    td,
    th {
      border: 1px solid var(--charcoal-hex);
    }

    thead th:first-child {
      background-color: white;
      border-inline-start: none;
      box-shadow:
        inset 3px 0px 0px 0px var(--charcoal-hex),
        inset -3px 0px 0px 0px var(--charcoal-hex),
        inset 0 0 0 60px rgb(var(--orange-rgb-nums) / 40%);
      position: sticky;
      left: 0;
    }

    td {
      padding: 10px;
    }

    .weekday {
      background-color: white;
      box-shadow:
        inset 3px 0px 0px 0px var(--charcoal-hex),
        inset -3px 0px 0px 0px var(--charcoal-hex),
        inset 0 0 0 60px rgb(var(--orange-rgb-nums) / 40%);
      border-inline-start: none;
      font-weight: bold;
      left: 0;
      position: sticky;
      text-align: center;
    }

    tr:first-of-type {
      th:first-of-type {
        box-shadow:
          inset 0 3px 0 0 var(--charcoal-hex),
          inset 3px 0px 0px 0px var(--charcoal-hex),
          inset -3px 0px 0px 0px var(--charcoal-hex),
          inset 0 0 0 60px rgb(var(--orange-rgb-nums) / 40%);
      }
    }

    tr:last-of-type {
      .weekday {
        box-shadow:
          inset 0 -3px 0 0 var(--charcoal-hex),
          inset 3px 0px 0px 0px var(--charcoal-hex),
          inset -3px 0px 0px 0px var(--charcoal-hex),
          inset 0 0 0 60px rgb(var(--orange-rgb-nums) / 40%);
      }
    }
  }
}
